<p class = "title is-3">This just displays all data in Stats model</p>

<table class="table">
  <thead>
    <tr>
      <th>Attack</th>
      <th>Defense</th>
      <th>Sp. Atk</th>
      <th>Sp. Def</th>
      <th>Speed</th>
    </tr>
  </thead>
  <tbody>
    <% @stat.each do |pokemonDisplay| %>
      <tr>
        <th><%= pokemonDisplay.attack %></th>
        <th><%= pokemonDisplay.defense %></th>
        <th><%= pokemonDisplay.spatk %></th>
        <th><%= pokemonDisplay.spdef %></th>
        <th><%= pokemonDisplay.speed %></th>
      </tr>
    <%end%>
  </tbody>
</table>

