<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokemon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="section">
      <div class="container">
      <div>
      <nav role="navigation" aria-label="main navigation", class="navbar is-fixed-top">
            <div class="navbar-brand">
              <a class="navbar-item" href="/pokeman">
                <img src="https://vignette.wikia.nocookie.net/pokemon-fano/images/6/6f/Poke_Ball.png/revision/latest/scale-to-width-down/340?cb=20140520015336" >
              </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/pokeman/">
                  Pokedex
                </a>

                <a class="navbar-item" href="/about/">
                  About
                </a>
                </div>
              </div>
              <div class="navbar-end">
                <div class="navbar-item">
                  <%= form_with(url: search_pokeman_index_path, method: "get", local: true) do %>
                  <%= submit_tag("Search", class: "button-is-primary") %>
                  <%= text_field_tag(:keywords, nil, class: "input", placeholder: "Search for Pokemon") %>
                  <% end %>
                </div>
              </div>
          </nav>
          </div>
          <h1 class="title is-1">Pokedex</h1>
          <%= yield %>
      </div>
    </section>
  </body>
</html>
